main {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 1) 80%,
        rgba(255, 255, 255, 0) 100%
    ), url("/images/background_blossom.png");
}

.footer-col {
    margin-bottom: 6px;
}

.footer-heading {
    text-align: right;
}

.footer-right p {
    text-align: right;
}

.center-image {
    margin: auto;
    display: block;
}

.category {
    padding: 5px;
}

.bot-margin {
    margin-bottom: 30px;
}

.category {
    padding: 5px;
    margin: 5px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    background-color: #eeeeee;
}

.category > a {
    color: #666666;
    text-decoration: none;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-item {
    margin: 10px;
    padding: 30px;
    background-color: #eeeeee;
    border-radius: 30px;
    width: 180px;
}

.news-text {
    text-align: center;
    height: 100%;
    margin: 0px;
}

.news-date {
    margin: 0px;
    color: gray;
    text-align: right;
}
