<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/more.css" | relative_url }}">
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        macros:{
          b: ["\\mathbf{#1}", 1],
          t: ["#1^{\\intercal}", 1],
          d: ["\\t{\\b{#1}}\\b{#2}", 2],
          vv: ["\\begin{vmatrix} #1 \\\\ #2 \\end{vmatrix}", 2],
          vh: ["\\begin{vmatrix} #1 & #2 \\end{vmatrix}", 2],
          mq: ["\\begin{vmatrix} #1 & #2 \\\\ #3 & #4 \\end{vmatrix}", 4]
        }
      }
    };
  </script>

  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>

  {%- feed_meta -%}
</head>
